<!DOCTYPE html>
<html lang="en" class="mdl-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Test jsp project</title>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/signin.css}"
          href="/css/signin.css" />

</head>
<body>
<div class="container">
    <form action="/login" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>
        <input type="text" name="login" placeholder="Login" class="form-control"/>
        <input type="password" name="password" placeholder="Password" class="form-control"/>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
    <form action="/auth/google" method="post" class="form-signin">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sing in with Google</button>
    </form>
</div>
</body>
</html>